<h2>Login</h2>
{{.errormessage}}
<form method="POST">
  <input type="text" placeholder="Email" name="email" /><br>
  <input type="password" placeholder="Password" name="password" /><br>  
  <button>Login</button>
</form>
