<h2>Register</h2>
{{.errormessage}}
<form  action="/users" method="POST">
  <input type="text" name="email" placeholder="Email" /><br>
  <input type="text" name="password" placeholder="Password" /><br>
  <input type="text" name="name" placeholder="Name" /><br>
  <input type="submit" value="submit"/>
</form>
